{% extends 'base.html'%} {% block content %}
<br>
<br>
<br>
<body>
  <h1 align="center" class="text-capitalize"> {{id}} </h3>
  <div class="container">
    <div class="panel-columns">
      {% for article in articles %}

      <div class="panel">
        <img class="panel" src="{{article.image}}" alt="Card image cap" >
        <div class="panel-body">
          <h5 class="panel-title">{{article.author}}</h5>
          <p class="panel-text">{{article.description}}</p>
          <a href="{{article.url}}">
            <p class="panel-text">Click here for more details!</p>
          </a>
        </div>
        <div class="panel-footer">
          <small class="text-muted">Article date:{{article.time}}</small>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  {% endblock %}
</body>